<!DOCTYPE html>
<html>
<head>
	<title>Project Echo</title>
	<%= stylesheet_link_tag "screen", "style" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery.tipsy" %>
	<%= csrf_meta_tag %>
	
	<script type='text/javascript'> 
  $(function() {
    
   $('#clippy-tooltip').tipsy({gravity: 's'});
    
  });
</script> 
</head>