<!DOCTYPE html>
<html>
<head>
	<title>Project Echo</title>
	<%= stylesheet_link_tag "screen", "style", "modal", cache: "all-styles" %>
	<%= javascript_include_tag "jquery.min", "jquery.tipsy", "rails", "application", cache: "all-scripts"  %>
	<%= csrf_meta_tag %>
</head>