<header> 

	<div id="logo"> 
	<h1><%= project.name %><%= project.user.name %></h1> 
	<h4><%= project.tagline %></h4> 
	<span>Created by <%= link_to project.user.name, project.user %></span> 
	</div> 
 
</header>