<header> 
	<div id="logo"> 
	<h1><%= project.name %></h1> 
	<h4><%= project.tagline %></h4> 
	<span>Created by <%= link_to project.user.name, project.user %></span> 
	<span class="user-menu"><%= link_to 'Edit', edit_project_path(@project) %></span>
	</div> 
</header>